<a href="https://colab.research.google.com/github/JimQuejado/Quejado-CPE019-Emerging-Technology-2/blob/main/QUEJADO_QUIZ_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python program using Pandas to count the number of rows and columns of a DataFrame.
import numpy as np
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
exam_data

{'name': ['Anastasia',
  'Dima',
  'Katherine',
  'James',
  'Emily',
  'Michael',
  'Matthew',
  'Laura',
  'Kevin',
  'Jonas'],
 'score': [12.5, 9, 16.5, nan, 9, 20, 14.5, nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [ ]:
exam_data.shape()

AttributeError: 'dict' object has no attribute 'shape'